Package: com.wh0ba.ofilza
Name: ofilza
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Wh0ba
Author: Wh0ba
Section: System
Tag: role::hacker
